html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.divider {
    border: 0;
    height: 3px;
    background: #000; 
    margin: 5px 0px;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1 {
  font-weight: 700;
  text-align: center;
}

h2 {
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 5px;
}

h3 {
  font-weight: 400;
}

img {
    display: block;
    margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  gap: 15px;
  padding: 10px 15px;
  font-size: 18px;
}

.nav-link:hover,
.nav-link.active {
    background-color: #007BFF;
    color: white;
}

.container ul {
padding-left: 25px;
}
span {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}

a:active {
  color: #ff4d4d;
}

pre {
    background-color: #2d2d2d; 
    color: #ffffff;             
    padding: 0 0;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    overflow-x: auto; 
    white-space: pre-wrap; 
    word-wrap: break-word;
    max-width: 100%;
}


.header,
.footer {
  border: 1px solid red;
}
.footer {
  padding: 10px 0;
  text-align: center;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-rs-logo {
  width: 50px;
  height: auto;
}
